<!-------------------------------------------Navigateur------------------------------------------------>
<div class="nav row">
  <div class="text-center mb-2 link-3d">
    <a routerLink="/forme3d"><b>3 D</b></a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/triangle">Triangle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/rectangle">Rectangle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/cercle">Cercle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/losange">Losange</a>
  </div>
</div>

<!--------------------------------------------Caluler-------------------------------------------------->

<div class="container">
  <div class="postit"><i class="bi bi-calculator"></i> Carré</div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="form-link col-2"><a href="https://fr.wikipedia.org/wiki/Carr%C3%A9" target="_blank"><img src="assets/images/loupe.png" alt="lien wikipédia"></a>
      </div>
      <div class="carre-drawn">
        <img src="assets/images/1.png" alt="carré" />
      </div>
    </div>
    <div class="col-6">
      <div class="carre-calcul">
        <div class="row justify-content-center align-items-center">
          <div class="col-2">Nom</div>
          <div class="col-8">
            <input [(ngModel)]="nom" type="text" class="form-control" />
            <!-- ngModel directive Angular : utilisée principalement pour la liaison bidirectionnelle (two-way binding) des données -->
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-2">Couleur</div>
          <div class="col-8">
            <input [(ngModel)]="couleur" type="text" class="form-control" />
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-2">a</div>
          <div class="col-8">
            <input [(ngModel)]="cote" type="number" min="0" class="form-control" />
          </div>
        </div>
        <div class="calcul-result">
          <div class="row justify-content-center align-items-center">
            <div class="col-8 m-2">
              <Strong>Surface</Strong> {{ surface.toFixed(2) }} m<sup>2</sup>
            </div>
            <div class="col-8 mb-3">
              <Strong>Périmètre</Strong> {{ perimetre.toFixed(2) }} m
            </div>
            <div class="col-8">
              <button (click)="calculer()">Calculer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------Lecture des carrés existants----------------------------------->

<div class="container">
  <h2>Voir les carrés existants</h2>
  <button class="btn btn-primary" (click)="toggleCarres()"><i class="bi bi-caret-down"></i><i class="bi bi-caret-up"></i></button>
  <div *ngIf="showCarres">
    <!--*ngIf Directive structurelle Angular: pour conditionnellement inclure ou exclure un élement du DOM en fonction d'un boolean -->
    <div class="row">
      <div *ngFor="let carre of carres" class="col-3">
        <!--*ngFor Directive structurelle Angular:  affiche un élément du DOM pour chaque élément de la collection. -->
        <div class="mini-container">
          <p><Strong>Nom :</Strong> {{ carre.nom }}</p>
          <p><Strong>Couleur :</Strong> {{ carre.couleur }}</p>
          <p><Strong>a :</Strong> {{ carre.cote }} m</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!---------------------------------- Modifier un carré------------------------------------------->
    <div class="col-md-6">
      <h2>Modifier un carré</h2>
      <form (ngSubmit)="updateCarre()">
        <!--ngSubmit Directive Angular pour gérer la soumision de formulaire  -->
        <div class="row align-items-center">
          <div class="col-2 mt-3">
            <label for="id">Id</label>
          </div>
          <div class="col-6 mt-3">
             <!-- (change) évenement de liaison d'évenement Angular -->
            <select
              [(ngModel)]="selectedCarreId"
              name="carreId"
              class="form-control"
              (change)="onIdChange()"  
              required
            >
              <option *ngFor="let carre of carres" [value]="carre.id">
                {{ carre.id }}
              </option>
            </select>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-2">
            <label for="nom">Nom</label>
          </div>
          <div class="col-4">
            <input
              type="text"
              id="nom"
              [(ngModel)]="nom"
              name="nom"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-4">
            <input
              type="text"
              id="couleur"
              [(ngModel)]="couleur"
              name="couleur"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <label for="cote">a</label>
          </div>
          <div class="col-4">
            <input
              type="number"
              min="0"
              id="cote"
              [(ngModel)]="cote"
              name="cote"
              class="form-control"
              required
            />
          </div>
        </div>
        <button type="submit">Modifier</button>
      </form>
    </div>
    <!---------------------------- Rechercher un Carré à partir de son ID---------------------------->
    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-between col-6">
        <h2>Recherche par ID</h2>
        <div class="input-group w-25">
          <select
            class="form-control"
            [(ngModel)]="selectedCarreId"
            (change)="getCarreById(selectedCarreId)"
          >
            <option *ngFor="let carre of carres" [value]="carre.id">
              {{ carre.id }}
            </option>
          </select>
        </div>
      </div>

      <!-- Section pour afficher les détails du carré recherché -->
      <div *ngIf="carre" class="mt-3">
        <div class="mini-card">
          <p><Strong>Nom :</Strong> {{ carre.nom }}</p>
          <p><Strong>Couleur :</Strong> {{ carre.couleur }}</p>
          <p><Strong>a :</Strong> {{ carre.cote }} m</p>
          <p>
            <Strong>Surface :</Strong>
            {{ carre.cote * carre.cote | number : "1.2-2" }} m<sup>2</sup>
          </p>
          <p>
            <Strong>Périmètre :</Strong>
            {{ 4 * carre.cote | number : "1.2-2" }} m
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------Ajouter un carré----------------------------------------->
<div class="row">
  <div class="col-3 row-equal-height">
    <div class="container">
      <h2>Ajouter un carré</h2>
      <form (ngSubmit)="addCarre(nom, couleur, cote)">
        <div class="row align-items-center">
          <div class="col-4">
            <label for="nom">Nom</label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="nom"
              [(ngModel)]="nom"
              name="nom"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-4">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="couleur"
              [(ngModel)]="couleur"
              name="couleur"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-4">
            <label for="cote">a</label>
          </div>
          <div class="col-8">
            <input
              type="number"
              min="0"
              id="cote"
              [(ngModel)]="cote"
              name="cote"
              class="form-control"
              required
            />
          </div>
        </div>
        <button type="submit">Ajouter</button>
      </form>
    </div>
  </div>
  <!------------------------------Liste de tous les carrés avec bouton supprimer---------------------------->
  <div class="col-9">
    <h2 class="text-center mt-2 mini-container"><i class="bi bi-trash-fill"></i></h2>
    <div class="row">
      <div *ngFor="let carre of carres" class="col-3">
        <div class="mini-container">
          <p><Strong>Nom :</Strong> {{ carre.nom }}</p>
          <p><Strong>Couleur :</Strong> {{ carre.couleur }}</p>
          <p><Strong>a :</Strong> {{ carre.cote }} m</p>
          <p>
            <Strong>Surface :</Strong>
            {{ carre.cote * carre.cote | number : "1.2-2" }} m<sup>2</sup>
          </p>
          <p>
            <Strong>Périmètre :</Strong>
            {{ 4 * carre.cote | number : "1.2-2" }} m
          </p>
          <button (click)="deleteCarre(carre)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
