<!------------------------------------------Navigateur------------------------------------------------>
<div class="nav row">
  <div class="text-center mb-2 link-3d">
    <a routerLink="/forme3d"><b>3 D</b></a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/carre">Carré</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/rectangle">Rectangle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/cercle">Cercle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/losange">Losange</a>
  </div>
</div>
<!------------------------------------------Caluler-------------------------------------------------->

<div class="container">
  <div class="postit"><i class="bi bi-calculator"></i> Triangle</div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="form-link col-2"><a href="https://fr.wikipedia.org/wiki/Triangle_rectangle" target="_blank"><img src="assets/images/loupe.png" alt="lien wikipédia"></a>
      </div>
      <div class="triangle-drawn">
        <img src="assets/images/3.png" alt="triangle" />
      </div>
    </div>
    <div class="col-6">
      <div class="cercle-calcul">
        <div class="row justify-content-center align-items-center">
          <div class="col-2">Nom</div>
          <div class="col-8">
            <input [(ngModel)]="nom" type="text" class="form-control" />
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-2">Couleur</div>
          <div class="col-8">
            <input [(ngModel)]="couleur" type="text" class="form-control" />
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-2">a</div>
          <div class="col-8">
            <input
              [(ngModel)]="coteAdjacent"
              type="number"
              min="0"
              class="form-control"
            />
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-2">b</div>
          <div class="col-8">
            <input
              [(ngModel)]="coteOppose"
              type="number"
              min="0"
              class="form-control"
            />
          </div>
        </div>
        <div class="calcul-result">
          <div class="row justify-content-center align-items-center">
            <div class="col-8 m-2">
              <Strong>Surface</Strong> {{ surface | number : "1.2-2" }} m<sup
                >2</sup
              >
            </div>
            <div class="col-8 mb-3">
              <Strong>Périmètre</Strong> {{ perimetre | number : "1.2-2" }} m
            </div>
            <div class="col-8">
              <button (click)="calculer()">Calculer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------------Lecture des triangles existants----------------------------------->

<div class="container">
  <h2>Voir les triangles existants</h2>
  <button class="btn btn-primary" (click)="toggleTriangles()">
    <i class="bi bi-caret-down"></i><i class="bi bi-caret-up"></i>
  </button>
  <div *ngIf="showTriangles">
    <div class="row">
      <div *ngFor="let triangle of triangles" class="col-3">
        <div class="mini-container">
          <p><Strong>Nom :</Strong> {{ triangle.nom }}</p>
          <p><Strong>Couleur :</Strong> {{ triangle.couleur }}</p>
          <p><Strong>a :</Strong> {{ triangle.coteAdjacent }} m</p>
          <p><Strong>b :</Strong> {{ triangle.coteOppose }} m</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-------------------------------- Modifier un triangle----------------------------------------------->
    <div class="col-md-6">
      <h2>Modifier un triangle</h2>
      <form (ngSubmit)="updateTriangle()">
        <div class="row align-items-center">
          <div class="col-2 mt-3">
            <label for="id">Id</label>
          </div>
          <div class="col-6 mt-3">
            <select
              [(ngModel)]="selectedTriangleId"
              name="triangleId"
              class="form-control"
              (change)="onIdChange()"
              required
            >
              <option *ngFor="let triangle of triangles" [value]="triangle.id">
                {{ triangle.id }}
              </option>
            </select>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-2">
            <label for="nom">Nom</label>
          </div>
          <div class="col-4">
            <input
              type="text"
              id="nom"
              [(ngModel)]="nom"
              name="nom"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-4">
            <input
              type="text"
              id="couleur"
              [(ngModel)]="couleur"
              name="couleur"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <label for="coteAdjacent">a</label>
          </div>
          <div class="col-4">
            <input
              type="number"
              min="0"
              id="coteAdjacent"
              [(ngModel)]="coteAdjacent"
              name="coteAdjacent"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2">
            <label for="coteOppose">b</label>
          </div>
          <div class="col-4">
            <input
              type="number"
              min="0"
              id="coteOppose"
              [(ngModel)]="coteOppose"
              name="coteOppose"
              class="form-control"
              required
            />
          </div>
        </div>
        <button type="submit">Modifier</button>
      </form>
    </div>
    <!---------------------------- Rechercher un Rectangle à partir de son ID---------------------------->
    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-between col-6">
        <h2>Recherche par ID</h2>
        <div class="input-group w-25">
          <select
            class="form-control"
            [(ngModel)]="selectedTriangleId"
            (change)="getTriangleById(selectedTriangleId)"
          >
            <option *ngFor="let triangle of triangles" [value]="triangle.id">
              {{ triangle.id }}
            </option>
          </select>
        </div>
      </div>

      <!-- Section pour afficher les détails du triangle recherché -->
      <div *ngIf="triangle" class="mt-3">
        <div class="mini-card">
          <p><Strong>Nom :</Strong> {{ triangle.nom }}</p>
          <p><Strong>Couleur :</Strong> {{ triangle.couleur }}</p>
          <p><Strong>a :</Strong> {{ triangle.coteAdjacent }} m</p>
          <p><Strong>D:</Strong> {{ triangle.coteOppose }} m</p>
          <p>
            <Strong>Surface:</Strong>
            {{
              0.5 * triangle.coteAdjacent * triangle.coteOppose
                | number : "1.2-2"
            }}
            m<sup>2</sup>
          </p>
          <p>
            <Strong>Périmètre:</Strong>
            {{
              triangle.coteAdjacent +
                triangle.coteOppose +
                RC(
                  triangle.coteAdjacent * triangle.coteAdjacent +
                    triangle.coteOppose * triangle.coteOppose
                ) | number : "1.2-2"
            }}
            m
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-----------------------------------------Ajouter un triangle----------------------------------------->
<div class="row">
  <!-- Div parente -->
  <div class="col-3 row-equal-height">
    <div class="container">
      <h2>Ajouter un triangle</h2>
      <form (ngSubmit)="addTriangle(nom, couleur, coteAdjacent, coteOppose)">
        <div class="row align-items-center">
          <div class="col-4">
            <label for="nom">Nom</label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="nom"
              [(ngModel)]="nom"
              name="nom"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-4">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="couleur"
              [(ngModel)]="couleur"
              name="couleur"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-4">
            <label for="coteAdjacent">a</label>
          </div>
          <div class="col-8">
            <input
              type="number"
              min="0"
              id="coteAdjacent"
              [(ngModel)]="coteAdjacent"
              name="coteAdjacent"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-4">
            <label for="coteOppose">b</label>
          </div>
          <div class="col-8">
            <input
              type="number"
              min="0"
              id="coteOppose"
              [(ngModel)]="coteOppose"
              name="coteOppose"
              class="form-control"
              required
            />
          </div>
        </div>
        <button type="submit">Ajouter</button>
      </form>
    </div>
  </div>
  <!-------------------------------Liste de tous les triangles ajoutés--------------------------------->
  <div class="col-9">
    <h2 class="text-center mt-2 mini-container">
      <i class="bi bi-trash-fill"></i>
    </h2>
    <div class="row">
      <div *ngFor="let triangle of triangles" class="col-3">
        <div class="mini-container">
          <p><Strong>Nom:</Strong> {{ triangle.nom }}</p>
          <p><Strong>Couleur:</Strong> {{ triangle.couleur }}</p>
          <p><Strong>a:</Strong> {{ triangle.coteAdjacent }} m</p>
          <p><Strong>b:</Strong> {{ triangle.coteOppose }} m</p>
          <p>
            <Strong>Surface:</Strong>
            {{
              0.5 * triangle.coteAdjacent * triangle.coteOppose
                | number : "1.2-2"
            }}
            m<sup>2</sup>
          </p>
          <p>
            <Strong>Périmètre:</Strong>
            {{
              triangle.coteAdjacent +
                triangle.coteOppose +
                RC(
                  triangle.coteAdjacent * triangle.coteAdjacent +
                    triangle.coteOppose * triangle.coteOppose
                ) | number : "1.2-2"
            }}
            m
          </p>
          <button (click)="deleteTriangle(triangle)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
