<div class="intro"> 
    <b>Heureux de vous voir ici !</b> 
    Plongez dans l'univers fascinant de la géométrie avec notre outil de calcul géométrique. Que vous cherchiez à déchiffrer les mystères d'une forme bidimensionnelle ou à explorer les profondeurs des volumes tridimensionnels, nous avons tout ce qu'il vous faut. De simples carrés aux sphères complexes, chaque forme a sa propre beauté et ses caractéristiques uniques. Avec notre application, non seulement vous découvrirez les secrets cachés derrière chaque forme, mais vous serez également guidé à travers chaque étape du calcul, garantissant précision et compréhension. <em>La géométrie, autrefois considérée comme un défi, devient désormais un jeu d'enfant !</em>
</div>


<div class="container">
  <!-- Première Colonne -->
  <div class="row">
      <div class="col-6 text-center separateur">
          <a routerLink="/forme2d">Géométrie 2D</a>
      </div>
      <div class="col-6 text-center">
          <a routerLink="/forme3d">Géométrie 3D</a>
      </div>
  </div>

  <!-- Deuxième Colonne -->
  <div class="row">
      <div class="col-6 mb-5 d-flex justify-content-center separateur">
          <img src="assets/videos/animation1.gif" alt="animation">
      </div>
      <div class="col-6 d-flex justify-content-center">
          <img src="assets/videos/animation2.gif" alt="animation">
      </div>
  </div>
</div>
